@import "config";

.highlight {
  color: $green;
}

.body-div {
  > * {
    margin-bottom: 146px;
  }
  > footer {
    margin-bottom: 0;
  }
}

section {
  margin: 0 100px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  > :first-child {
    max-width: 711px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 34px;
  }
  img {
    width: 502px;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $dark-blue2;
    max-width: 490px;
  }
  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 46px;
    > :nth-child(2),
    p {
      color: $green;
    }
    > :nth-child(2) {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 500;
    }
  }
  .play-circle {
    width: 104px;
    height: 104px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1.28117px dashed #0ac05e;
    transform: translateX(-20%);
  }
}

.section-layout1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  > :first-child {
    max-width: 711px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  img {
    width: 418px;
  }
}

.section-layout2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
  position: relative;

  > :first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 908px;
    h3 {
      max-width: 600px;
    }
  }
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  margin-top: 80px;
  > :nth-child(2) {
    transform: translateY(-80px);
  }
}

.nfts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  img {
    width: 387px;
  }
}
.about-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 104px;
  > :first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  p {
    text-align: left;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;

    color: $text-grey3;
  }
  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .flash-card > p {
    text-align: center;
  }
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.flash-cards {
  min-width: 424px;
  width: 424px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #313131;
  }
}

.ellipses {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  > * {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  img {
    width: 80px;
  }
  & > :first-child {
    > :nth-child(2n-1) {
      transform: translateX(100px);
    }
  }
  & > :nth-child(2) {
    > :nth-child(2n-1) {
      transform: translateX(-100px);
    }
  }
}

.community-layout {
  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.user {
  & > :first-child > p {
    max-width: 688px;
  }
}

footer {
  padding: 0 100px;
  * {
    font-family: Poppins;
  }

  & > :first-child {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    & > :nth-child(2),
    & > :nth-child(3) {
      width: 112px;
    }
    & > :first-child {
      max-width: 334px;
    }
    & > :last-child {
      width: 271px;
    }
    & > * {
      > :first-child {
        margin-bottom: 2.25rem;
      }
    }
  }

  & > :last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #e0e0e0;
    padding: 22px 0;
    margin-top: 40px;
    > :last-child {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 38px;
    }
  }

  ul {
    list-style: none;
  }
  p,
  li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: $dark-blue2;
  }

  .socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    margin-top: 41px;
  }
}

.elijah {
  color: $green;
  font-weight: 600;
}
