@import "config";

header {
  padding: 42px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    li {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $text-grey2;
    }
  }
}
