@import "config", "_include-media";

header {
  padding: 42px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  transition: top 0.5s 0.3s;
  background-color: white;
  z-index: 2;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    li {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $text-grey2;
    }
  }
  svg {
    cursor: pointer;
  }
}

@include media("<tablet") {
  header {
    padding: 42px 30px;
  }
}
